@inherits ExerciseBase

<div>
    @if (Exercise == null)
    {
        <h4>Loading ...</h4>
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>@Exercise.ID</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <img class="img-fluid" src="@Exercise.Image">
                </div>
                <div class="col-8">
                    <p>@((MarkupString) Exercise.Description)</p>
                </div>
            </div>

            @if (Exercise.Partials != null && Exercise.Partials.Any())
            {
                <div class="row">
                    <div class="col">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Cvik</th>
                                    <th>Hlavní</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var exercise in Exercise.Partials)
                                {
                                    <tr>
                                        <td>@exercise.Exercise</td>
                                        <td>@exercise.IsMain</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    }
</div>
